<!DOCTYPE html>
<html>
    <head>
        <title>Simple Masker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <a style="display: none;" id="dataset">{{dataset}}</a>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- <script type=module src="main.js"></script> -->
    </head>
    <div id="custom-cursor"></div>
    <body>
        <div id="custom-cursor"></div>
        <div id="controls"></div>
        <input type="file" id="file-input" style="display:none;" accept="image/*" multiple/>
        <div id="modal">
            <div style="background:#fff; padding:20px; border-radius:8px;">
                <p>Select an Item:</p>
                <div id="item-list"></div>
                <button onclick="document.getElementById('modal').style.display='none'">Cancel</button></button>
            </div>
        </div>
        <div id="container">
            <canvas id="mask-canvas" style="z-index: 1;" ></canvas>
            <canvas id="image-canvas" style="z-index: 0;"> </canvas>
        </div>
    </body>
</html>